<?xml version="1.0" encoding="UTF-8"?>
<!--
 ~ Copyright 2023 telechow
 ~ <p>
 ~ Licensed under the Apache License, Version 2.0 (the "License");
 ~ you may not use this file except in compliance with the License.
 ~ You may obtain a copy of the License at
 ~ <p>
 ~ http://www.apache.org/licenses/LICENSE-2.0
 ~ <p>
 ~ Unless required by applicable law or agreed to in writing, software
 ~ distributed under the License is distributed on an "AS IS" BASIS,
 ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 ~ See the License for the specific language governing permissions and
 ~ limitations under the License.
-->
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.telechow.garoupa.web.mapper.AuditLogMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="io.github.telechow.garoupa.api.entity.AuditLog">
        <id column="id" property="id" />
        <result column="title" property="title" />
        <result column="user_id" property="userId" />
        <result column="remote_ip" property="remoteIp" />
        <result column="user_agent" property="userAgent" />
        <result column="request_uri" property="requestUri" />
        <result column="method" property="method" />
        <result column="request_params" property="requestParams" />
        <result column="execute_duration" property="executeDuration" />
        <result column="log_type" property="logType" />
        <result column="exception_message" property="exceptionMessage" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, title, user_id, remote_ip, user_agent, request_uri, method, request_params, execute_duration, log_type, exception_message, create_time
    </sql>

</mapper>
